/* Estilos CSS */
.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
}
.button:hover {
  background-color: #0056b3;
}

